* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #b0d6aa;
    /* background-color: #22142b; */
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    font-size: 30px;
    font-style: italic;
}

a {
    text-decoration: none;
}

body {
    background-image: url(wolf.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

.container .name h1 {
    font-size: 60px;
}

.container .name h5 {
    font-size: 25px;
}

.container {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 1px 1px 5px 1px #b0d6aa;
}

header ul {
    display: flex;
}

header ul li {
    padding: 7px;
}

header ul li a:hover {
    color: #9cf08f;
}

header div img {
    border-radius: 50%;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: 50%;
    margin: 0 auto;
}

.form button {
    width: 15%;
    margin: 0 auto;
    color: #22142b;
    background-color: #b0d6aa;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form button:hover{
    background-color: #84ec74;
}